<script>
	function submitForm(url) {
		$('#hiddenForm #inputField').val(url);
		$('#hiddenForm').submit();
	}
</script>

<h1>Practice typing Code</h1>
	<p>Are you a sloth when it comes to typing out code? We're here to help!</p>

<%= form_for new_file_path, :html => {:id => "repo-form"} do |f| %>
  <%= f.text_field "url",
      placeholder: "Paste in a GitHub URL to get started",
      pattern: ".*github.com.*",
      oninvalid: "setCustomValidity('Unable to load github file.  Please try again with a valid url for a single file in a github repo.')",
      required: true,
      onchange: "try{setCustomValidity('')}catch(e){}" %>
  <br>
  <br>
  <%= f.submit "START"%>
<% end %>

<!-- hidden field for submitting posts -->
<%= form_for new_file_path, :html => {:id => "hiddenForm"} do |f| %>
	<input type="text" name="/[url]" id="inputField" hidden>
<% end %>

	<h1>Web Developer Skills</h1>
	<p>Pick from one of the following categories to practice your coding skills!</p>

	<div id="categories">
		<div class="row">
			<div class="category" onclick="submitForm('https://github.com/Yago580/ebony-jackson/blob/master/index.html')">
				<img class="category-icon" src="assets/html-icon.png"><h2 class="category-name">HTML</h2>
				Crank out a web page in minutes.
			</div>

			<div class="category" onclick="submitForm('https://github.com/hdngo/Twitchery/blob/master/twitchery.css')">
				<img class="category-icon" src="assets/css.png"><h2 class="category-name">CSS</h2>
				Don't lie, you don't actually know CSS.
			</div>

			<div class="category" onclick="submitForm('https://github.com/noahwiener/2048/blob/gh-pages/js/tile.js')">
				<img class="category-icon" src="assets/javascript.png"><h2 class="category-name">JS</h2>
				JavaScript can get pretty ugly, we know.
			</div>
		</div>

		<div class="row">
			<div class="category" onclick="submitForm('https://github.com/Yago580/craigslister/blob/master/lib/craigslister.rb')">
				<img class="category-icon" src="assets/ruby.png"><h2 class="category-name">RUBY</h2>
				Ruby's syntactic sugar. It's the bomb.
			</div>

			<div class="category">
				<img class="category-icon" src="assets/python.png"><h2 class="category-name">PYTHON</h2>
				Practice your Python, as if you'll ever use them.
			</div>

			<div class="category">

				<img class="category-icon" src="assets/cplus.png">
				<h2 class="category-name">C++</h2>
				Because who doesn't want to be a C++ Ninja?
			</div>
		</div>
	</div>
