<section id="stats">
    <h2>CPM:<span id="cpm"></span></h2>
    <h2>Wasted Strokes:<span id="strokes"></span></h2>
  </section>
<section id="typingContent">
  <pre>
    <%= @filetype %>
    <%= @filename %>
    <% if @content %>
      <% @content.each do |line| %>
        <%= line %>
      <% end %>
    <% else %>
      Unable to load github file.  Please try again with a valid url for a single file in a github repo.
    <% end %>
  </pre>
</section>
